<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hamilton</title>
</head>
<body>
    <header>
        <span>
            Hamilton
        </span>

        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="babbage.html">Babbage</a></li>
                <li><a href="berners-lee.html">Berners-Lee</a></li>
                <li><a href="clarke.html">Clarke</a></li>
                <li><a href="hamilton.html">Hamilton</a></li>
                <li><a href="hopper.html">Hopper</a></li>
                <li><a href="lovelace.html">Lovelace</a></li>
                <li><a href="turing.html">Turing</a></li>
            </ul>
        </nav>

    </header>
    <h1>Bienvenido!</h1>
    <div>
        <img src="/public/img/hamilton.jpg" alt="Hola, soy una Hamilton!">
    </div>
    <p id="parrafo">
        Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software.

        Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.6​7​ 
    </p>
    
</body>
</html>