<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <span>
            Home!
        </span>

        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="babbage.html">Babbage</a></li>
                <li><a href="berners-lee.html">Berners-Lee</a></li>
                <li><a href="clarke.html">Clarke</a></li>
                <li><a href="hamilton.html">Hamilton</a></li>
                <li><a href="hopper.html">Hopper</a></li>
                <li><a href="lovelace.html">Lovelace</a></li>
                <li><a href="turing.html">Turing</a></li>
            </ul>
        </nav>

    </header>
    <h1>Bienvenido!</h1>
    <div>
        <img src="/img/home.jpg" alt="Hola, soy una imagen!">
    </div>
    <p id="parrafo">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Optio delectus hic quasi accusamus corrupti voluptatum 
        esse molestiae sit a asperiores at animi fugiat ea, 
        explicabo quam dignissimos, debitis assumenda in!
    </p>

    
    
</body>
</html>